
body{
	background-color: #003333;
}

nav{
	background-color: teal;
	display: flex;
	justify-content: space-between;
}

#searchBar{
	margin: 1em;
	width: 20em;
	height:1.5em;
	border-radius:10px;
	border:1px solid black;
	
}

.login-cont{
	height: 100vh;
}


.logowanie{
	font-size:1em;
	color:white;
	height: 100%;
}

.logowanie a{
	padding: 1em;
	color: #f6f4e6;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	display: inline-block;
}


.login-bg{
	border: 1px solid black;
	 text-align: center;;
	  background-color: white;
	  border-radius:20px;
  	margin: 0 auto;
  	height: auto;
  	width: 50%;
}


.logowanie2 {
	font-size: 0.3em;
	position:absolute;
	
	margin-left:170px;
	width:50%;
	
  }
.item1{
	height:5px;
}

.games-cont{
	margin-top:-50px;
	height:100%;
	width:100%;
	background-color:rgba(0, 0, 0, 0.685);
	
	
	
}
h1{
	padding:20px;
	font-size:2em;
	color:White;
	text-transform: uppercase;
	text-align:center;
}
.image{


	background-size:cover;
	position:fiexed;
	min-width:60%;
	min-height:100%;
	margin-left:20%;
	background-position:center;
	width:60%;
	background-color:pink;
	
	
}
.error{
	color:black;
}

.image:hover{
	filter: brightness(50%);
}
.flexbox-item-2{
	min-height:50px;
	
	font-size:20px;
	
}
.flexbox-item{
	width:100vh;
	margin:0;
	
	
}

.game-block{
	margin: 0 auto;
	width: 50%;
}

.game-block img{
	width: 100%;
	z-index: 0;
}

.game-block a{
	margin: 0;
	padding: 0;
}

.game-block .tekst{
	z-index: 1;
	background-color: black;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 0 1em;
	align-items: center;
	margin-bottom: 2em;
}

.game-block .tekst .game-name{
	font-size: 2em;
	margin: 0;
}

.game-block .tekst .game-genre{
	font-size: 1em;
	margin: 0;
	margin-bottom: .4em;
}


.one-game-cont{
	max-height: 80vh;
 	width: 80%;
 	margin: 2em auto 0 auto;
 	display: flex;
 	color: white;
 	background-color: rgba(0,0,0,.2);
}

.one-game-img{
	width: 50vw;
 	object-fit: cover;
 	margin: 0 auto;
 	display: block;
}


.one-game-game{
 	padding: 1em;
}

.one-game-game h2{
 	font-size: 2em;
}

.one-game-game p{
 	font-size: .8em;
}

.one-game-comment-cont{
	color: white;
 	width: 80%;
 	margin: 0 auto 0 auto;
 	background-color: rgba(0,0,0,.2);
}

.GameCommentsForm{
	margin-bottom: 2em;
}

.GameCommentsForm input{
	display: block;
	width: 50%;
	margin: 1em auto;
	height: 3em
}

.comments button{
	display: block;
	margin: .5em auto 0 auto;
}

.comment{
	padding-left: 2em;
}

.comment-user{
	display: flex;
	gap: 1em;
	align-items: center;
}

.comment-user .comment-user-name{
	font-size: 1.6em;
	margin: 0
}

.comment-textfield{
	font-size: 1em;
	margin: 0;
	margin-bottom: 1em;
}
.logout{
	padding: 1em;
	border: none;
	background: none;
	color:white;
	text-transform: uppercase;
	font-size:0.9em;
}
img:hover{

	filter:brightness(110%);
	
}
.Btn {
	background-color: #1E88E5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.5em;
	margin: 36px 2px;
	cursor: pointer;
	border-radius:10px;
  

}
.Btn:hover{
	
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	  
}
.sButton{
	
	
	background: #2196F3;
	color: white;
	font-size: 1.2em;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	border-radius:8px;
	height:1.5em;
	width:4em;
	
	
}


.h2-user{


	color:white;
	text-align:center;
	font-size:2.5em;
}

p {
	color:white;
	font-size:1.2em;
	
}
.comment-2{
	
	width:20%;
	margin:0;
	padding:0;
	margin-left:2%;
	width:30vw;
	
}
.com-bg{
	margin-top:2%;
	width:50%;
	background-color: rgba(0, 128, 128, 0.589);
	margin-left:25%;
	border:5px solid black;
}

.no-user , .no-game, .no-games{
	color:white;
	width:50%;
	margin-top:5%;
	margin-left:25%;
	text-align:center;
	font-size:3em;
	

}

@media only screen and (max-width: 700px) {
	#searchBar{
		width:70%;
		font-size:0.5em;
	}
	.logowanie{
		font-size:0.55em;

	}
	h1{
		font-size:1em;
	}
	
	.game-block .tekst .game-name{
		font-size: 0.5em;
		margin: 0;
	}
	.game-block .tekst .game-genre{
		font-size: 0.4em;
		margin: 0;
	}
	.ocena{
		font-size:1.7em;
		
	}
	.one-game-game{
		font-size:0.5em;
	}
	#ocena{
		font-size:0.6em;
	}
	.comments-list{
		font-size:0.7em;
	}
	.GameCommentsForm{
		height:10%;
		font-size:0.5em;
	}
	.sButton{
	
	
		background: #2196F3;
		color: white;
		font-size: 0.7em;
		border: 1px solid grey;
		border-left: none;
		cursor: pointer;
		border-radius:8px;
		float:right;
		margin-top:0.7em;
		
		
		
	}
	.search{
		width:60%;
	}
	.h2-user{
		color:white;
		text-align:center;
		font-size:0.7em;
	}
	
	.comment-2{
		font-size:0.5em;
		width:30vw;
	}
	
}