
body{
	background-color: #003333;
}

nav{
	background-color: teal;
	display: flex;
	justify-content: space-between;
}

#searchBar{
	margin: 1em;
	width: 20em;
}

.login-cont{
	height: 100vh;
}


.logowanie{
	font-size:1em;
	color:white;
	height: 100%;
}

.logowanie a{
	padding: 1em;
	color: #f6f4e6;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	display: inline-block;
}


.login-bg{
	border: 1px solid black;
	 text-align: center;;
	  background-color: white;
	  border-radius:20px;
  	margin: 0 auto;
  	height: auto;
  	width: 50%;
}


.logowanie2 {
	font-size: 0.3em;
	position:absolute;
	
	margin-left:170px;
	width:50%;
	
  }
.item1{
	height:5px;
}

.games-cont{
	margin-top:-50px;
	height:100%;
	width:100%;
	background-color:rgba(0, 0, 0, 0.685);
	
	
	
}
h1{
	padding:20px;
	font-size:2em;
	color:White;
	text-transform: uppercase;
}
.image{


	background-size:cover;
	position:fiexed;
	min-width:60%;
	min-height:100%;
	margin-left:20%;
	background-position:center;
	width:60%;
	background-color:pink;
	
	
}
.image:hover{
	filter: brightness(50%);
}
.flexbox-item-2{
	min-height:50px;
	
	font-size:20px;
	
}
.flexbox-item{
	width:100vh;
	margin:0;
	
	
}

.game-block{
	margin: 0 auto;
	width: 50%;
}

.game-block img{
	width: 100%;
	z-index: 0;
}

.game-block a{
	margin: 0;
	padding: 0;
}

.game-block .tekst{
	z-index: 1;
	background-color: black;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 0 1em;
	align-items: center;
	margin-bottom: 2em;
}

.game-block .tekst .game-name{
	font-size: 2em;
	margin: 0;
}

.game-block .tekst .game-genre{
	font-size: 1em;
	margin: 0;
	margin-bottom: .4em;
}


.one-game-cont{
	max-height: 80vh;
 	width: 80%;
 	margin: 2em auto 0 auto;
 	display: flex;
 	color: white;
 	background-color: rgba(0,0,0,.2);
}

.one-game-img{
	width: 50vw;
 	object-fit: cover;
 	margin: 0 auto;
 	display: block;
}

.one-game-game{
 	padding: 1em;
}

.one-game-game h2{
 	font-size: 2em;
}

.one-game-game p{
 	font-size: .8em;
}

.one-game-comment-cont{
	color: white;
 	width: 80%;
 	margin: 0 auto 0 auto;
 	background-color: rgba(0,0,0,.2);
}

.GameCommentsForm{
	margin-bottom: 2em;
}

.GameCommentsForm input{
	display: block;
	width: 50%;
	margin: 1em auto;
	height: 3em
}

.comments button{
	display: block;
	margin: .5em auto 0 auto;
}

.comment{
	padding-left: 2em;
}

.comment-user{
	display: flex;
	gap: 1em;
	align-items: center;
}

.comment-user .comment-user-name{
	font-size: 1.6em;
	margin: 0
}

.comment-textfield{
	font-size: 1em;
	margin: 0;
	margin-bottom: 1em;
}

