body{
	background-color:#F7F5DD;
}

nav{
	background-color:  teal;
	display: flex;
	justify-content: flex-end;
	
}

nav a{
	margin: 20px 15px;
	color: #f6f4e6;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-family:"Comic Sans MS",cursive;
}

nav a:hover {
  color: #fddb3a;
}

.content {
	display: flex;
	justify-content: center;
	gap: 20px;
	
}
.content-right {
	
	display:flex;
	flex-grow: 1;
	margin-left:150px;
	margin-right:150px;
	height:20vw;
	border-radius:20px;
	background-color:#CAE7DF;
	width:60vw;
}

.game{
	width:150%;
	height:900px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	margin-left:100px;
	background-color:#CAE7DF;
	border-radius:20px;
}

.game-text{
	background-color:red;
	height: 40%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer{
	
	display: flex;
	justify-content: flex-end;
	height:8vh;
	background-color:  teal;
	bottom:0;
	width:100%;
	height:60px;
	font-size:1.3vw;		/* Wysokość stopki */
		
	
}
.navmenu {
	margin:0;
	padding:0;
	border-right: 1px solid white;
}
.navmenu ul{
	margin:0;
	padding:0;
	line-height:20px;
}
.navmenu li{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	
	
}
.navmenu ul li a{
	text-align:center;
	font-family:"Comic Sans MS",cursive;
	text-decoration:none;
	height:30px;
	width:150px;
	display:block;
	color:#FFF;
	
}
.navmenu ul ul{
	position:absolute;
	visibility:hidden;
	top:50px;
	border-left:3px solid white;
	border-right:3px solid white;
	right:-2px;
	background-color:gray;
	border-radius: 0px 0px 20px 20px;
	border-bottom:3px solid white;
	
}
.navmenu ul li:hover ul{
	visibility:visible;
}
.navmenu li:hover{
	background:#09F;
	
}
.search{
	position:absolute;
	margin-right:80vh;
	
	
}
#searchBar{
	
	width:24vw;
	height:40px;
	border-radius:2vw;
	border:0.1vw solid #eaeaea;
	padding:0.1vw 0.2vw;
	font-size:0.8vw;
	margin-left:-2vw;
	margin-top:0.8vw;
	text-align:center;
	
}

h2{
	margin-top:-5px;
	color:black;
	text-align:center;
	font-size:5vh;
}
.image2{

	background-size:cover;
	position:fiexed;
	min-width:100%;
	min-height:100%;
	background-position:center;
	
}
.image3{
	
	background-size:cover;
	position:fiexed;
	min-width:100%;
	min-height:100%;
	background-position:center;
	
}
.image2:hover{
	filter: brightness(50%);
}
.image3:hover{
	filter: brightness(50%);
}


.flexbox-item-1{
	min-height:50px;
	
	font-size:20px;
	
}
.flexbox-item-2{
	height:25vw;
	min-height:15vw;
	
}
.flexbox-item-3{
	height:25vw;
	min-height:15vw;
}
.tekst{
	
	height:4vw;
	background-color:rgba(0, 0, 0, .5);
	position:relative;
	margin-top:-4vw;
}
.t{
	position:absolute;
	color:white;
	width:13vw;
	height:3vw;
	text-align:center;
	font-family:"Comic Sans MS",cursive;
	font-size:0.8vw;
	margin-top:1.5vw;
	transform:translate(0,20%);
	
	
}
.t2{
	width:13vw;
	height:5vh;
	text-align:center;
	color:white;
	font-size:1.3vw;
	font-family:"Comic Sans MS",cursive;
	transform:translate(0,15%);
	

}
.star{
	float:right;
	width:6vw;
	height:1.5vw;
	text-align:right;
	color:yellow;
	font-size:1vw;
	margin-right:3vw;
	transform:translate(0,-85%);
	
	
}
b#ocena{
	
	height:2.2vw;
	width:10vw;
	margin-left:6vw;
	transform:translate(0,-55%);
	color:white;
	font-size:1vw;
	text-align:center;
	display: flex;
	justify-content: flex-start;
	


}

li{
	margin-top:1vw;
	margin-left:1vw;
	width:100%;
	color:black;
	margin-bottom:1vw;
	text-decoration:none;
	font-size:0.7vw;
	position:relative;
}
ul li a{
	text-decoration:none;
	color:black;
	
}
ul li a:hover{
	color:rgba(0, 0, 0, 0.404);
}
.fot{
	
	display: flex;
	justify-content: center;
	width:100%;
	text-align:center;
	color:white;
	bottom:0;
	width:100%;
	height:60px;

			/* Wysokość stopki */
		


}

.image4{
	content:url('../components/image/doom.jpg');
	position:absolute;
	top:31.5%;
	left:50%;
	height:50%;
	transform:translate(-50%,-50%);
	width:70%;
	
}
.desc{
	position:absolute;
	width:70%;
	background-color:rgba(0, 0, 0, .5);
	transform:translate(-50%,-50%);
	left:50%;
	height:10%;
	top:51.5%;
}
.o{
	color:white;
	width:20%;
	margin-left:20px;
	font-size:2vh;
	margin-top:20px;
	text-align:center;
	font-family:"Comic Sans MS",cursive;
}

.d2{
	margin:30px;
}
.logowanie{
	font-size:0.9vw;
	text-align:center;
	display:flex;

}
.cont{
	width:50%;
	margin-left:5%;
}
.description{
	display:flex;
	justify-content: center;
	width:150%;
	font-family:"Comic Sans MS",cursive;
	background-color:red;
	margin-left:11%;
	height:100vh;
	
}